apiVersion: apps/v1
kind: Deployment
metadata:
  name: logging-dp
spec:
  selector:
    matchLabels:
      service: logging
  template:
    metadata:
      name: logging-pod
      labels:
        service: logging
    spec:
      containers:
        - name: logging-cnt
          image: carsharing_loggingsystem
          imagePullPolicy: "Never"
          ports:
            - containerPort: 2224
              name: logging-port
          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: mongo-auth-secret
                  key: username
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: mongo-auth-secret
                  key: password
          envFrom:
            - configMapRef:
                name: logging-config
            - configMapRef:
                name: common-config
          startupProbe:
            httpGet:
              path: /logging/ping
              port: 2224
            initialDelaySeconds: 20
            failureThreshold: 100
            periodSeconds: 15
          livenessProbe:
            httpGet:
              path: /logging/ping
              port: 2224
            initialDelaySeconds: 60
            failureThreshold: 100
            periodSeconds: 15

